workflow-fixed.json
{
  "name": "醫藥新知電子新聞稿 (PubMed + Gemini)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "4923bc0a-2434-4d79-80fd-6786fd02dc56",
      "name": "每週一 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        11840,
        2864
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── 整理分類 & 建立 Prompt ──\n// Groups articles by journal+type, sorts, builds ISO week header,\n// and produces a single comprehensive Gemini prompt.\n\nconst JOURNAL_ORDER = ['NEJM', 'Lancet', 'JAMA', 'BMJ'];\nconst TYPE_ORDER    = ['RCT', 'MA', 'SR', 'OA'];\nconst TYPE_DISPLAY  = {\n  RCT: 'RCT', MA: 'Meta-analysis',\n  SR:  'Systematic Review', OA: 'Original Article',\n};\n\nconst items = $input.all().map(i => i.json);\n\n// Stats\nconst stats = { RCT: 0, MA: 0, SR: 0, OA: 0 };\nfor (const a of items) {\n  if (a.articleType in stats) stats[a.articleType]++;\n}\n\n// Group by journal + type\nconst grouped = {};\nfor (const j of JOURNAL_ORDER) {\n  grouped[j] = {};\n  for (const t of TYPE_ORDER) grouped[j][t] = [];\n}\nfor (const a of items) {\n  if (grouped[a.journal] && a.articleType in grouped[a.journal]) {\n    grouped[a.journal][a.articleType].push(a);\n  }\n}\n// Sort within type: newest pubDate first\nfor (const j of JOURNAL_ORDER)\n  for (const t of TYPE_ORDER)\n    grouped[j][t].sort((a, b) => new Date(b.pubDate || 0) - new Date(a.pubDate || 0));\n\n// ISO week number (ISO 8601)\nfunction getISOWeek(d) {\n  const date = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));\n  const dow  = date.getUTCDay() || 7;\n  date.setUTCDate(date.getUTCDate() + 4 - dow);\n  const y1 = new Date(Date.UTC(date.getUTCFullYear(), 0, 1));\n  return Math.ceil((((date - y1) / 86400000) + 1) / 7);\n}\n\nconst now       = new Date();\nconst weekNum   = String(getISOWeek(now)).padStart(2, '0');\nconst year      = now.getFullYear();\nconst timestamp = now.toLocaleString('zh-TW', {\n  timeZone: 'Asia/Taipei',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', hour12: false,\n});\nconst docTitle  = '【藥師文獻週報】' + year + ' 第' + weekNum + '週';\nconst total     = items.length;\nconst SEP       = '══════════════════════════════════════';\n\n// Format one article for the ARTICLES block\nconst fmtArticle = a =>\n  'PMID: '     + a.pmid + '\\n' +\n  'Journal: '  + a.journal + '\\n' +\n  'Type: '     + (TYPE_DISPLAY[a.articleType] || a.articleType) + '\\n' +\n  'Title: '    + a.title + '\\n' +\n  'Author: '   + (a.firstAuthor || 'N/A') + '\\n' +\n  'DOI: '      + (a.doi || 'N/A') + '\\n' +\n  'PubDate: '  + (a.pubDate || 'N/A') + '\\n' +\n  'Abstract:\\n' + (a.abstract || '(no abstract available)');\n\n// Build ordered article data for the prompt\nlet articleData = '';\nfor (const j of JOURNAL_ORDER) {\n  const journalArticles = TYPE_ORDER.flatMap(t => grouped[j][t]);\n  if (!journalArticles.length) continue;\n  articleData += '\\n=== ' + j + ' ===\\n';\n  for (const t of TYPE_ORDER) {\n    if (!grouped[j][t].length) continue;\n    articleData += '\\n-- ' + TYPE_DISPLAY[t] + ' --\\n\\n';\n    for (const a of grouped[j][t]) {\n      articleData += fmtArticle(a) + '\\n\\n---\\n\\n';\n    }\n  }\n}\n\n// Build full Gemini prompt\nconst prompt =\n'You are a senior clinical pharmacist editor. Produce the weekly pharmacist digest.' +\n'\\n\\n' +\n'════════════════════ LANGUAGE & STYLE RULES ════════════════════\\n' +\n'- All explanatory text: Traditional Chinese (繁體中文)\\n' +\n'- Keep in English (NEVER translate or transliterate):\\n' +\n'    drug names, brand names, trial names, gene names, biomarkers, lab units, journal names\\n' +\n'- Established Chinese disease terms are acceptable (心房顫動, 糖尿病, 心衰竭, etc.)\\n' +\n'- NO MARKDOWN anywhere — no **, no *, no # characters\\n' +\n'- 背景/方法/結果: max 2 sentences each\\n' +\n'- 結論: exactly 1 sentence (the clinical implication for pharmacists)\\n' +\n'- Missing field: write （詳見原文）\\n' +\n'\\n' +\n'════════════════════ OUTPUT FORMAT (copy exactly) ════════════════════\\n\\n' +\n'【藥師文獻週報】' + year + ' 第' + weekNum + '週\\n' +\n'NEJM / Lancet / JAMA / BMJ 精選\\n' +\n'產製時間：' + timestamp + '\\n\\n' +\nSEP + '\\n' +\n'本週收錄：' + total + ' 篇\\n' +\n'RCT：' + stats.RCT + ' 篇｜Meta-analysis：' + stats.MA + ' 篇｜系統性回顧：' + stats.SR + ' 篇｜原著論文：' + stats.OA + ' 篇\\n' +\nSEP + '\\n\\n' +\n'[For each journal that has articles, in order: NEJM → Lancet → JAMA → BMJ]\\n\\n' +\n'【JOURNAL_NAME】\\n' +\n'──────────────────────────────────────\\n\\n' +\n'[Within each journal: RCT → Meta-analysis → Systematic Review → Original Article; newest first]\\n\\n' +\n'▶ [ORIGINAL ENGLISH TITLE — copy verbatim from Title field, NEVER translate]\\n' +\n'  類型：[type display name]｜作者：[Author LastName] et al.\\n' +\n'  DOI：[doi field value; if N/A write （詳見原文）]\\n\\n' +\n'  背景：[≤2 sentences in Chinese]\\n' +\n'  方法：[≤2 sentences in Chinese: design, N, intervention vs comparator, follow-up]\\n' +\n'  結果：[≤2 sentences in Chinese: primary endpoint + HR/RR/OR, 95%CI, p-value]\\n' +\n'  結論：[exactly 1 sentence in Chinese: clinical implication for hospital pharmacists]\\n\\n' +\n'[blank line between articles]\\n\\n' +\n'End the entire document with: 【本週精選完畢】\\n\\n' +\n'════════════════════ ARTICLES ════════════════════\\n' +\narticleData;\n\nreturn [{ json: { prompt, docTitle, total, stats, timestamp, year, weekNum } }];"
      },
      "id": "929b443d-8716-4af2-b677-6ff2f03a614b",
      "name": "整理分類 & 建立 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12480,
        2864
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "38e1f91a-2596-4585-b31d-1163236a636b",
      "name": "AI 撰寫新聞稿",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        12800,
        2864
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── 準備文件內容 ──\n// Receives Gemini output ($json.text) and fetches docTitle from upstream.\nconst digestText = $json.text || '';\nconst meta = $('整理分類 & 建立 Prompt').first().json;\nreturn [{ json: { digestText, docTitle: meta.docTitle } }];"
      },
      "id": "ab3a04f2-efc4-4f85-8b3f-998802c1ba7a",
      "name": "準備文件內容",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13120,
        2864
      ]
    },
    {
      "parameters": {
        "folderId": "1cfA8AgRT0kah5wb9qiLRt2oi97ADF5J6",
        "title": "={{ $json.docTitle }}"
      },
      "id": "4cd0beda-b901-4885-83fb-e50d4f917c40",
      "name": "建立 Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        13440,
        2864
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "U9g9VbFfY6VF1RlQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId || $json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"requests\": [{ \"insertText\": { \"location\": { \"index\": 1 }, \"text\": $('準備文件內容').first().json.digestText } }] }) }}",
        "options": {}
      },
      "id": "fc356d47-1220-43c5-9517-363daa041511",
      "name": "寫入文件內容",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13760,
        2864
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "U9g9VbFfY6VF1RlQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c2b9fb3e-6908-4138-9e1a-a3296d12272d",
      "name": "錯誤捕捉",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        12800,
        3264
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 16384,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        12800,
        3072
      ],
      "id": "e6d2949c-dad9-49fc-b2bd-f8196ff4e97f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "y820M4W5mpWnQ21f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "78dff5c0-e060-4c64-9812-f739f04c2489",
      "name": "PubMed Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12160,
        2864
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── PubMed Fetch ──\n// Runs 16 queries: 4 journals × 4 article types\n// Rate-limited (400ms/150ms), PMID-deduplicated\n// Returns one item per article: {pmid, journal, articleType, articleTypeLabel,\n//   title, firstAuthor, abstract, doi, pubDate}\n\nconst BASE      = 'https://eutils.ncbi.nlm.nih.gov/entrez/eutils/';\nconst TOOL_NAME = 'PharmJournalNewsletter';\nconst EMAIL     = $env.PUBMED_EMAIL || 'noreply@example.com';\nconst API_KEY   = $env.PUBMED_API_KEY || '';\nconst DELAY_MS  = API_KEY ? 150 : 400;\n\nconst JOURNALS = [\n  { name: 'NEJM',   issn: '0028-4793' },\n  { name: 'Lancet', issn: '0140-6736' },\n  { name: 'JAMA',   issn: '0098-7484' },\n  { name: 'BMJ',    issn: '0959-8138' },\n];\n\nconst TYPES = [\n  { code: 'RCT', label: 'RCT',              retmax: 5,\n    filter: 'randomized controlled trial[pt]' },\n  { code: 'MA',  label: 'Meta-analysis',     retmax: 5,\n    filter: 'meta-analysis[pt]' },\n  { code: 'SR',  label: 'Systematic Review', retmax: 5,\n    filter: 'systematic review[pt]' },\n  { code: 'OA',  label: 'Original Article',  retmax: 3,\n    filter: 'journal article[pt] NOT (randomized controlled trial[pt] OR systematic review[pt] OR meta-analysis[pt] OR review[pt] OR letter[pt] OR editorial[pt] OR comment[pt])' },\n];\n\n// Date range: today − 7 days  [dp] = date of publication\nconst now    = new Date();\nconst cutoff = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nconst fmtDate = d =>\n  d.getFullYear() + '/' +\n  String(d.getMonth() + 1).padStart(2, '0') + '/' +\n  String(d.getDate()).padStart(2, '0');\nconst dateRange = fmtDate(cutoff) + ':' + fmtDate(now) + '[dp]';\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\n\nfunction commonParams() {\n  const p = { db: 'pubmed', tool: TOOL_NAME, email: EMAIL };\n  if (API_KEY) p.api_key = API_KEY;\n  return p;\n}\n\nasync function eSearch(issn, typeFilter, retmax) {\n  const term = issn + '[ta] AND ' + dateRange + ' AND ' + typeFilter;\n  const params = Object.assign({}, commonParams(), {\n    term, usehistory: 'y', retmax: String(retmax), retmode: 'json',\n  });\n  const resp = await fetch(BASE + 'esearch.fcgi?' + new URLSearchParams(params));\n  if (!resp.ok) return [];\n  const data = await resp.json();\n  return (data && data.esearchresult && data.esearchresult.idlist) || [];\n}\n\nasync function eFetch(ids) {\n  if (!ids.length) return '';\n  const params = Object.assign({}, commonParams(), {\n    id: ids.join(','), rettype: 'abstract', retmode: 'xml',\n  });\n  const resp = await fetch(BASE + 'efetch.fcgi?' + new URLSearchParams(params));\n  if (!resp.ok) return '';\n  return await resp.text();\n}\n\nconst MONTH_MAP = { Jan:1,Feb:2,Mar:3,Apr:4,May:5,Jun:6,\n                    Jul:7,Aug:8,Sep:9,Oct:10,Nov:11,Dec:12 };\n\nfunction parseArticles(xml, journal, typeCode, typeLabel) {\n  const articles = [];\n  const artRx = /<PubmedArticle>([sS]*?)<\\/PubmedArticle>/g;\n  let m;\n  while ((m = artRx.exec(xml)) !== null) {\n    const block = m[1];\n\n    const getTag = tag => {\n      const r = new RegExp('<' + tag + '(?:[^>]*)>([\\s\\S]*?)<\\/' + tag + '>', 'i');\n      const x = r.exec(block);\n      return x ? x[1].replace(/<[^>]+>/g, '').trim() : '';\n    };\n\n    const pmid = getTag('PMID');\n    if (!pmid) continue;\n\n    const title = getTag('ArticleTitle')\n      .replace(/\\.$/, '')\n      .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n    if (!title) continue;\n\n    // First author\n    const auBlock = (/<AuthorList[^>]*>([\\s\\S]*?)<\\/AuthorList>/.exec(block) || ['',''])[1];\n    const auM = /<Author[^>]*>[\\s\\S]*?<LastName>([^<]+)<\\/LastName>(?:[\\s\\S]*?<ForeName>([^<]+)<\\/ForeName>)?/.exec(auBlock);\n    const firstAuthor = auM\n      ? (auM[1] + (auM[2] ? ' ' + auM[2].charAt(0) : ''))\n      : '';\n\n    // Abstract: structured sections preferred\n    const absBlock = (/<Abstract>([\\s\\S]*?)<\\/Abstract>/.exec(block) || ['',''])[1];\n    let abstract = '';\n    if (absBlock) {\n      const sections = [...absBlock.matchAll(/<AbstractText(?:[^>]*Label=\"([^\"]*)\")?[^>]*>([\\s\\S]*?)<\\/AbstractText>/g)];\n      if (sections.length) {\n        abstract = sections.map(s =>\n          (s[1] ? s[1] + ': ' : '') + s[2].replace(/<[^>]+>/g, '').trim()\n        ).join('\\n');\n      } else {\n        abstract = absBlock.replace(/<[^>]+>/g, '').trim();\n      }\n    }\n\n    // DOI\n    const doiM = /<ArticleId IdType=\"doi\">([^<]+)<\\/ArticleId>/i.exec(block);\n    const doi = doiM ? 'https://doi.org/' + doiM[1].trim() : '';\n\n    // PubDate\n    const pdBlock = (/<PubDate>([\\s\\S]*?)<\\/PubDate>/.exec(block) || ['',''])[1];\n    const yr  = (/<Year>(\\d+)<\\/Year>/.exec(pdBlock)  || ['',''])[1];\n    const rawM = (/<Month>([^<]+)<\\/Month>/.exec(pdBlock) || ['','01'])[1];\n    const dy  = (/<Day>(\\d+)<\\/Day>/.exec(pdBlock)   || ['','01'])[1];\n    const moNum = /^\\d+$/.test(rawM)\n      ? rawM.padStart(2,'0')\n      : String(MONTH_MAP[rawM] || 1).padStart(2,'0');\n    const pubDate = yr ? yr + '-' + moNum + '-' + dy.padStart(2,'0') : '';\n\n    articles.push({ pmid, journal, articleType: typeCode, articleTypeLabel: typeLabel,\n                    title, firstAuthor, abstract, doi, pubDate });\n  }\n  return articles;\n}\n\n// ── Main: run 16 queries ──\nconst seen = new Set();\nconst allArticles = [];\n\nfor (const journal of JOURNALS) {\n  for (const type of TYPES) {\n    await sleep(DELAY_MS);\n    let ids = [];\n    try { ids = await eSearch(journal.issn, type.filter, type.retmax); } catch (_) {}\n    const newIds = ids.filter(id => !seen.has(id));\n    newIds.forEach(id => seen.add(id));\n    if (newIds.length > 0) {\n      await sleep(DELAY_MS);\n      let xml = '';\n      try { xml = await eFetch(newIds); } catch (_) {}\n      if (xml) allArticles.push(...parseArticles(xml, journal.name, type.code, type.label));\n    }\n  }\n}\n\nreturn allArticles.map(a => ({ json: a }));"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "每週一 08:00": {
      "main": [
        [
          {
            "node": "PubMed Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PubMed Fetch": {
      "main": [
        [
          {
            "node": "整理分類 & 建立 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理分類 & 建立 Prompt": {
      "main": [
        [
          {
            "node": "AI 撰寫新聞稿",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 撰寫新聞稿": {
      "main": [
        [
          {
            "node": "準備文件內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備文件內容": {
      "main": [
        [
          {
            "node": "建立 Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立 Google Doc": {
      "main": [
        [
          {
            "node": "寫入文件內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI 撰寫新聞稿",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0187bcf89b2ee97d53f10bee583eefdf6e77929a910fac7b0ca9954cdfa3b93b"
  },
  "id": "ZXVpv5sco9EaFV6i",
  "tags": []
}